<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminTegral.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminTegral.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AdminTegral.My.MySettings.AdmintegralConnectionString"
            connectionString="Data Source=MATRIX\SQLEXPRESS;Initial Catalog=integral;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdminTegral.My.MySettings.AdminTegral" connectionString="Data Source=CASABAROUDI\COMPAC;Initial Catalog=integra;Persist Security Info=True;User ID=sa;Password=C0ntpaq$"
            providerName="System.Data.SqlClient" />
        <add name="AdminTegral.My.MySettings.integraConnectionString"
            connectionString="Data Source=CASABAROUDI\COMPAC;Initial Catalog=integra;Persist Security Info=True;User ID=sa;Password=C0ntpaq$"
            providerName="System.Data.SqlClient" />
        <add name="AdminTegral.My.MySettings.SAT_catalogosConnectionString"
            connectionString="Data Source=CASABAROUDI\COMPAC;Initial Catalog=SAT;Persist Security Info=True;User ID=sa;Password=C0ntpaq$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <AdminTegral.My.MySettings>
            <setting name="margen" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="iva" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="comision" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Recordar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="periodoVta_pedidos" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ncaja" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mnu_tablas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="menus" serializeAs="String">
                <value />
            </setting>
            <setting name="Mcatalogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="solocaja" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="impresora_ticket" serializeAs="String">
                <value />
            </setting>
            <setting name="impresora_factura" serializeAs="String">
                <value />
            </setting>
            <setting name="Impresora_reportes" serializeAs="String">
                <value />
            </setting>
            <setting name="almacen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ftpserver" serializeAs="String">
                <value>ftp.casabaroudi.com</value>
            </setting>
            <setting name="ftpuser" serializeAs="String">
                <value>casabaroud</value>
            </setting>
            <setting name="ftppw" serializeAs="String">
                <value>DXmtVV6hErrR</value>
            </setting>
            <setting name="Autoriza_Automatico" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftppath_cortes" serializeAs="String">
                <value>/domains/casabaroudi.com/public_html/net/cortes/</value>
            </setting>
            <setting name="mostrar_web" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="puedeAutorizar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tmpfile" serializeAs="String">
                <value>c:\tmp\mio.tmp</value>
            </setting>
            <setting name="id_grupo" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="Grupo" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="PZ_x_Caja" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="Pz_X_Exhibidor" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="Exhi_x_caja" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="Costo_x_pz" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="Costo_x_Exhi" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="Pv_Pieza" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="pv_exhibidor" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="pv_caja" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="costo_x_caja" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="Cobrar_tarjeta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pedidos_calcular" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="grupo_suspendidos" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="iva2" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="lineasnc" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="impresora_default" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_open_inventario" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recalcularprecios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="terminal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logo" serializeAs="String">
                <value>file://\\abarroterabara\datosintegral\datos_sistema\logo.jpg</value>
            </setting>
            <setting name="excluirprovedores" serializeAs="String">
                <value>487,477,526,519,245</value>
            </setting>
            <setting name="tipodecambio" serializeAs="String">
                <value>12.2</value>
            </setting>
            <setting name="FEI_activo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mimail" serializeAs="String">
                <value>cfd@casabaroudi.com</value>
            </setting>
            <setting name="kagentes" serializeAs="String">
                <value>1,2,3,4,5,6</value>
            </setting>
            <setting name="ncargo" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="separar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpfei" serializeAs="String">
                <value>/public_html/net/fei/</value>
            </setting>
            <setting name="sqlserver" serializeAs="String">
                <value>Data Source=CASABAROUDI\COMPAC;Initial Catalog=integra;Persist Security Info=True;User ID=sa;Password=C0ntpaq$</value>
            </setting>
            <setting name="sqlsat" serializeAs="String">
                <value>Data Source=CASABAROUDI\COMPAC;Initial Catalog=SAT;Persist Security Info=True;User ID=sa;Password=C0ntpaq$</value>
            </setting>
            <setting name="items_adicionales" serializeAs="String">
                <value>10</value>
            </setting>
        </AdminTegral.My.MySettings>
    </userSettings>
    <applicationSettings>
        <AdminTegral.My.MySettings>
            <setting name="LineasXfactura" serializeAs="String">
                <value>22</value>
            </setting>
        </AdminTegral.My.MySettings>
    </applicationSettings>
</configuration>
